<main class="container">
  <turbo-frame id="header-frame">
    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote", new_quote_path, class: "btn btn--primary", data: { turbo_frame: "second-frame" } %>
    </div>
  </turbo-frame>

  <turbo-frame id="second-frame">
    <%= render @quotes %>
  </turbo-frame>
</main>
